* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Ariel, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: wheat;
}

.landpage {
    /* background-image: url('../../assets/brennan-burling-335455-unsplash.jpg');*/
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.landpage h1 {
    font-size: 30px;
}

.landpage p {
    font-size: 15px;
}

.landpage .button {
    font-size: 10px;
    text-decoration: none;
    color: wheat;
    border: wheat 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 1.5;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
